
.nabs, h1 {
  display: inline-block;
  vertical-align: middle;
  color: red;
}

div{
    background-color: darkslategray;
}

.table-container{
    background-color: darkcyan;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 480px;
}

.testbtn {
  background-color: darkslategray;
  color: white;
  font-size: 15px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.testbtn:hover {
  background-color: #059862;
}


.search-bar {
  display: flex; /* Aligns input and button horizontally */
  max-width: 400px;
}

.search-bar input {
  flex: 1; /* Makes input take up remaining space */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px; /* Rounded corners on the left only */
}

.search-bar button {
  padding: 10px 20px;
  background-color: #2196F3;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0; /* Rounded corners on the right only */
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #0b7dda;
}

  